*~
uploads/
blogs.dir/
upgrade/
backup-db/
cache/
backups/
node_modules/
.idea/
.vscode/
bower_components/ionicons/css
bower_components/ionicons/fonts
bower_components/ionicons/less
bower_components/ionicons/png
bower_components/ionicons/scss

# Compiled files
themes/cambium-networks/assets/images/svg-icons.svg
themes/cambium-networks/assets/scripts/project.js
themes/cambium-networks/assets/scripts/project.min.js
themes/cambium-networks/style.css
themes/cambium-networks/style.min.css

# don't ignore the W3 Total Cache /Cache directory!
!plugins/w3-total-cache/lib/W3/Cache
# don't ignore the p2p Mustache /Cache directory either!
!plugins/posts-to-posts/vendor/mustache/mustache/src/Mustache/Cache
# don't ignore the Google Analytics /cache directory either!
!plugins/google-analytics-for-wordpress/vendor/yoast/api-libs/google/cache

# We _must_ have the uploads dir from WPML
!plugins/sitepress-multilingual-cms/classes/upgrade
!plugins/sitepress-multilingual-cms/vendor/wpml-shared/wpml-lib-cache/src/cache
!plugins/sitepress-multilingual-cms/vendor/twig/twig/lib/Twig/Cache
!plugins/sitepress-multilingual-cms/vendor/twig/twig/test/Twig/Tests/Cache
!plugins/wpml-string-translation/classes/upgrade
!plugins/wpml-string-translation/vendor/wpml-shared/wpml-lib-cache/src/cache

.htaccess
.sass-cache
compass_app_log.txt

advanced-cache.php
wp-cache-config.php

sitemap.xml
sitemap.xml.gz
*.log

.DS_Store
.AppleDouble
.LSOverride

*.sublime-workspace

plugins/user-switching/
plugins/which-template/
plugins/easy-wp-smtp/
/themes/centralmarket/lib
plugins/wordpress-importer


/db.php
/.sass-lint.yml
/plugins/regenerate-thumbnails/
/plugins/page-template-dashboard/

mu-plugins/local.php
mu-plugins/debug.php
/docs
/plugins/monkeyman-rewrite-analyzer
yarn.lock
